@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  font-family: 'IRANSans', sans-serif;
  background-color: #f9fafb;
  direction: rtl;
  text-align: right;
}

a {
  text-decoration: none;
}

input,
select,
textarea,
button {
  font-family: inherit;
  direction: rtl;
}

/* Scrollbar style (optional) */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}
